@model ForgotPasswordViewModel
<div style="position:relative; top:80px;">
    <div class="card mx-auto login-container">
        <div class="card-header text-center boldText">Forgot Password</div>
        <div class="card-body  login-container">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-5">
                        <input asp-for="Email" class="login-input" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>