<div style="position:relative; top:80px;">

    <div class="card mx-auto login-container">

        <div class="card-body login-container">

            <h4>
                Your password is reset. Please click <a asp-action="Login">here to login</a>
            </h4>
        </div>
    </div>

</div>

