<div style="position:relative; top:80px;">

    <div class="card mx-auto login-container">

        <div class="card-body login-container">

            <h4>Thank you for confirming your email</h4>
        </div>
    </div>

</div>

