<div style="position:relative; top:80px;">

    <div class="card mx-auto login-container">

        <div class="card-body login-container">

            <h4>
                If you have an account with us, we have sent an email
                with the instructions to reset your password.
            </h4>
        </div>
    </div>

</div>

