@page
@model FeaturedBAME
@using OpportunitiesDraft1.Components



<div class="OpportunistHome">
    <div class="OpportunistHomeVideo" style="margin-bottom:10%;">
        <div class="SupportersMainImage"><img src="~/Images/BAME.jpeg" class="img-sup" alt="suppporters"></div>
        <div class="BameTextContainer" style="background-color: #47525E;">
            <div class="w-100 text-white">
                <h4 class="display-3">BAME Businesses</h4>
                <p class="lead mb-0" style="margin-right:10%;"> BAME-owned businesses are Black, Asian, Minority and Ethnic owned. <br />Opportunities endeavours to highlight these business and the impacts they are making in the spaces they occupy.</p>

                @*<p class="SupporterMainText py-3" style="position: absolute; top: 2%; font-size: 18px; color: white; text-align: center; padding-right: 5%;">

                    </p>*@
                <div class="card" style="background:#984E4D; width:100%; bottom:0; position:absolute; left:0;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Are you a BAME-owned Business and want to be featured</h5>
                        <button class="btn btn-dark" onclick="location.href='@Url.Action("BAME", "account")'">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      @(await Html.RenderComponentAsync<BAMEBusinesses>(RenderMode.ServerPrerendered))
</div>


<script src="_framework/blazor.server.js"></script>
