<div style="position:relative; top:80px;">

    <div class="card login-container">

        <div class="card-body mx-auto">

            <h4>You have sucessfully submitted the contact us form. <br />
                A member of our team will respond to your query shortly.
            </h4>
        </div>
    </div>

</div>

