@using Microsoft.AspNetCore.Components.Web
@using OpportunitiesDraft1.Models
@using OpportunitiesDraft1.Services
@inject JsonFileFeaturedBAME BAMEService



<div class="card-columns m-5 h-100">
    @foreach (var bame in BAMEService.GetFeaturedBAME())
    {
        <div class="card m-3 h-100">
            <div class="m-2"><img class="card-img" src="@bame.ImageUrl" alt="Card image cap"></div>
            <div class="card-body">
                <h5 class="card-title boldText">@bame.BusinessName</h5>
                <div class="card-text">
                    <p>@bame.Statement</p>
                    <p>   @bame.Description</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <span class="col"></span>
                        <span class="col bame-icons"><i class="fa fa-external-link"></i></span>
                        <span class="col bame-icons"><i class="fa fa-instagram"></i></span>
                        <span class="col bame-icons"><i class="fa fa-facebook"></i></span>
                        <span class="col"></span>
                    </div>
                </div>

            </div>

        </div>
    }
</div>

