<div class="container" style="position:relative; top:80px;">
    <div class="card flex-row m-5 h-50" style="background: #C0C0C0; color:#47525e">
        <div class="m-2" style="width:400px;">
            <img class="card-img" src="https://images.pexels.com/photos/4145190/pexels-photo-4145190.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" />
        </div>
        <div class="ml-2 mt-2">

            <div class="card-title boldText">You missed the last event, here’s what you missed out on</div>
            <div class="card-body">
                <div class="card-text">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, p."</div>
                <a href="#" class="btn btn-dark mt-5">Continue Reading</a>
            </div>
        </div>

    </div>
</div>