
@model OpportunitiesDraft1.ViewModels.NewsletterViewModel

<div class="modal" id="NewsletterModal" tabindex="-1" role="dialog" aria-labelledby="NewsletterModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background: #e0ddd8;">
            <div class="modal-header">
                <h5 class="modal-title" id="NewsletterModalTitle">Sign up to Our Mailing List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mx-auto login-container" style="border:none;">
                    <form asp-controller="home" asp-action="Newsletter" method="post">
                        <div class="form-group">
                            <input class="login-input" asp-for="Name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input class="login-input" asp-for="Email" placeholder="Email">
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-dark">Sign up</button></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    
        $("#NewsletterModal").modal("show");
        
    </script>
}
